{
    "extends": [
        "standard",
        "plugin:@typescript-eslint/recommended"
    ],
    "root": true,
    "parserOptions": {
      "ecmaVersion": "latest",
      "project": "./tsconfig.eslint.json"
    },
    "parser": "@typescript-eslint/parser",
    "rules": {
        "no-restricted-syntax": [
            "error",
            {
                "selector": ":matches(ImportNamespaceSpecifier, ExportAllDeclaration, ExportNamespaceSpecifier)",
                "message": "Prefer explicit named imports over wildcard (import * as x)"
            }
        ],
        "indent": ["error", 4],
        "promise/prefer-await-to-then": ["error"],
        "@typescript-eslint/await-thenable": "error",
        "@typescript-eslint/no-unused-vars": "error"
    },
    "env": {
        "webextensions": true,
        "browser": true,
        "jasmine": true
    },
    "overrides": [
        {
            "files": ["{tests,tests-wtr}/**/*.ts"],
            "rules": {
                "@typescript-eslint/no-unused-expressions": "off"
            }
        },
        {
            "files": ["rules/autoconsent/*.json"],
            "extends": ["plugin:json/recommended-legacy"]
        }
    ]
}