node_modules/
dist/
_site
test/lit-html/
test-results/
*.bundle.js
*.min.css
rules/rules.*
rules/consentomatic.json
rules/compact-rules.json
lib/**/*.js
addon/*.js
.vscode/
.env
.DS_Store
rules/filterlists/easylist_*.txt
lib/filterlist-engine.ts
data/top-1m.csv
