<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="./bulma.min.css">
    <style>
      td {
        border: solid 1px;
        padding: 4px;
        max-width: 300px;
      }
      .nopopup > td {
        border-color: red;
        border-width: 2px;
      }
    </style>
  </head>