{
  "env": {
    "REGIONAL_PROXY_AU": "socks5://au-proxy.example.com:1080",
    "REGIONAL_PROXY_CA": "socks5://ca-proxy.example.com:1080",
    "REGIONAL_PROXY_CH": "socks5://ch-proxy.example.com:1080",
    "REGIONAL_PROXY_DE": "socks5://de-proxy.example.com:1080",
    "REGIONAL_PROXY_DK": "socks5://dk-proxy.example.com:1080",
    "REGIONAL_PROXY_ES": "socks5://es-proxy.example.com:1080",
    "REGIONAL_PROXY_FR": "socks5://fr-proxy.example.com:1080",
    "REGIONAL_PROXY_GB": "socks5://gb-proxy.example.com:1080",
    "REGIONAL_PROXY_IT": "socks5://it-proxy.example.com:1080",
    "REGIONAL_PROXY_JP": "socks5://jp-proxy.example.com:1080",
    "REGIONAL_PROXY_NL": "socks5://nl-proxy.example.com:1080",
    "REGIONAL_PROXY_NO": "socks5://no-proxy.example.com:1080",
    "REGIONAL_PROXY_PL": "socks5://pl-proxy.example.com:1080",
    "REGIONAL_PROXY_SE": "socks5://se-proxy.example.com:1080",
    "REGIONAL_PROXY_US": "socks5://us-proxy.example.com:1080",
    "REGIONAL_PROXY_USERNAME": "OPTIONAL_PROXY_USERNAME",
    "REGIONAL_PROXY_PASSWORD": "OPTIONAL_PROXY_PASSWORD",
    "OXYLABS_USER": "OPTIONAL_OXYLABS_USER",
    "OXYLABS_PASSWORD": "OPTIONAL_OXYLABS_PASSWORD",
    "PUBLICWWW_KEY": "REPLACE_WITH_YOUR_KEY"
  }
}
