name: Create a config PR with updated rules

on:
    workflow_dispatch:
        inputs:
            tag_name:
                description: 'The tag of the release to use'
                required: true
            asana_task_gid:
                type: string
                description: 'The GID of the Asana task to link to'
                required: false
    workflow_call:
        inputs:
            tag_name:
                type: string
                description: 'The tag of the release to use'
                required: true
            asana_task_gid:
                type: string
                description: 'The GID of the Asana task to link to'
                required: false

env:
    TAG: ${{ inputs.tag_name }}

jobs:
    privacy-config-pr:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
              with:
                  path: autoconsent/
            - uses: ./autoconsent/.github/actions/setup-release-scripts
            - name: Checkout config
              uses: actions/checkout@v3
              with:
                  repository: duckduckgo/privacy-configuration
                  path: privacy-configuration/
                  token: ${{ secrets.PRIVACY_CONFIG_PAT }}
            - name: Build and compact rules
              run: |
                  cd autoconsent
                  npm run build-rules
                  npm run bundle-config-rules ../privacy-configuration
            - name: Prepare and update privacy-config
              run: |
                  cd privacy-configuration
                  npm ci
                  npm run lint-fix
            - name: Create config PR
              uses: peter-evans/create-pull-request@v7
              id: create-pr
              with:
                  path: privacy-configuration/
                  add-paths: |
                      overrides/*
                      features/autoconsent.json
                  commit-message: Update autoconsent to ${{ env.TAG }}
                  branch: update-autoconsent
                  title: Update autoconsent to ${{ env.TAG }}
                  body: 'Asana Task/Github Issue: https://app.asana.com/1/137249556945/project/1201844467387842/task/${{ inputs.asana_task_gid }}'
                  token: ${{ secrets.PRIVACY_CONFIG_PAT }}
