name: Update filterlist

on:
    workflow_dispatch:

    schedule:
        - cron: '0 3 * * SUN' # run every Sunday at 3:00

jobs:
    update_filterlist:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Use Node.js 18.x
              uses: actions/setup-node@v3
              with:
                  node-version: 18.x

            - name: Install dependencies
              run: npm ci

            - name: Update EasyList
              run: |
                  npm run update-easylist

            - name: Read EasyList revision
              id: read-revision
              run: echo "revision=`cat rules/filterlists/easylist_revision.txt`" >> "$GITHUB_OUTPUT"

            - name: Create Pull Request
              uses: peter-evans/create-pull-request@v7
              with:
                  title: Update filterlist to ${{ steps.read-revision.outputs.revision }}
                  commit-message: Update filterlist to ${{ steps.read-revision.outputs.revision }}
                  labels: |
                      minor
                      dependencies
                  reviewers: muodov,sammacbeth
